* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}

button:focus, input:focus {
  outline:0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Album List */

#album-list-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.albums-page-title {
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
  /* text-transform: lowercase; */
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(175, 175, 175);
  box-shadow: 1px -1px 7px 0 rgba(0, 0, 0, 0.2);
}

#album-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 1030px;
}

.album-link {
  text-decoration: none;
  color: black;
}

.album {
  display: flex;
  flex-direction: column;
  width: 330px;
  list-style-type: none;
  margin-bottom: 60px;
}

.album-poster {
  height: 330px;
  width: 100%;
  box-shadow: 1px -1px 7px 0 rgba(0, 0, 0, 0.2);
}

.album-poster:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: black;
  transition: 0.3s;
}

.album-info {
  display: flex;
  margin-top: 10px;
}

.album-title {
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 5px;
}

.album-title:hover {
  text-decoration: underline;
  text-decoration-color: black;
  transition: 0.3s;
}

.album-artist {
  text-transform: lowercase;
  padding-left: 5px;
}

/* AlbumInput, LoadInput and ReturnInput */

#album-input-component, #loan-input-component, #return-input-component {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  height: 45px;
}

form {
  display: flex;
  align-items: flex-start;
  height: 45px;
}

#album-input-artist, #album-input-title, #loan-input-name {
  border-bottom: 1px solid rgb(175, 175, 175);
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}

#album-input-artist-label, #loan-input-name-label {
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px;
}

#album-input-title-label {
  text-transform: lowercase;
  padding: 5px;
}

#album-input-button, #loan-input-button, #return-input-button {
  background-color: rgb(175, 175, 175);
  color: white;
  font-weight: 500;
  padding: 5px;
  text-transform: uppercase;
  box-shadow: 1px -1px 7px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#album-input-button:hover, #loan-input-button:hover, #return-input-button:hover {
  color: black;
  transition: 0.3s;
}

.loaned-to-text {
  margin-right: 5px;
  padding: 5px;
}

.loaned-date-text {
  margin-right: 40px;
  padding: 5px;
}

/* Album */

#album-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#album-component-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(175, 175, 175);
  box-shadow: 1px -1px 7px 0 rgba(0, 0, 0, 0.2);
}

.album-page-title {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  color: white;
  padding-right: 5px;
}

.album-page-artist {
  font-size: 25px;
  text-transform: lowercase;
  padding: 20px 0;
  color: white;
  padding-left: 5px;
}

.text-separator {
  color: white;
  font-size: 25px;
}

#album-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 1030px;
}

.track {
  list-style-type: none;
}

.album-page-poster {
  width: 50%;
  margin-right: 30px;
  box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.1);
}

#track-list {
  width: 50%;
}

.tracks-header {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
